/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .O_carousal {
        padding: 30px 0;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        left: 38%;
    }
    .swiper {
        width: 290px;
    }
    .swiper_carousal{
        padding: 30px 0;
    }
    .swiper-button-prev {
        margin-left: 90px;
        margin-top: 125px;
    }
    .swiper-button-next {
        margin-right: 90px;
        margin-top: 125px;
    }
    .swiper-button-next::after{
        font-size: 30px;
      }
      .swiper-button-prev::after {
        font-size: 30px;
      }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .O_carousal {
        padding: 30px 0;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        left: 42%;
    }
    .swiper {
        width: 505px;
    }
    .swiper_carousal{
        padding: 30px 0;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .O_carousal {
        padding: 30px 0;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        left: 44%;
    }
    .swiper {
        width: 660px;
    }
    .swiper_carousal{
        padding: 30px 0;
    }
   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .swiper {
        width: 900px;
    }

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .swiper {
        width: 1115px;
    }
}

/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {

}